---
format: 1
code-server:
  defaults:
    group: Tools
    overlay: base
    relstage: stable

  versions:
    4.105.1:
      variants:
        - overlay: base
          target_cpus: [x86_64]
          systems: [.*.merlin7.psi.ch]
          relstage: stable
        - overlay: base
          target_cpus: [aarch64]
          systems: [gpu0.*.merlin7.psi.ch]
          relstage: stable
