format: 1
libfabric:
  # Requires:
  #   sudo zypper install pandoc libconfig-devel libuv-devel fuse-devel libsensors4-devel libjson-c-devel
  defaults:
    group: Libraries
    relstage: stable
    compile_in_sourcetree: true
    docfiles:
      - AUTHORS
      - README
      - COPYING
      - NEWS.md
    urls:
      - url: https://github.com/ofiwg/libfabric/releases/download/v${V}/${P}-${V}.tar.bz2
  shasums:
    libfabric-2.2.0.tar.bz2: ff6d05240b4a9753bb3d1eaf962f5a06205038df5142374a6ef40f931bb55ecc
    libfabric-1.18.0.tar.bz2: 912fb7c7b3cf2a91140520962b004a1c5d2f39184adbbd98ae5919b0178afd43
    libfabric-1.13.0.tar.bz2: 0c68264ae18de5c31857724c754023351614330bd61a50b40cef2b5e8f63ab28
  versions:
    2.2.0:
      config:
        relstage: stable
      variants:
        - systems: [.*.merlin7.psi.ch]
          overlay: Alps
          use_overlays: [PSI]
          suffix: '-oss'
          use_flags: [merlin7]
          build_requires: [gcc/12.3.0, shs-cassini-headers/12.0.1-oss, shs-cxi-driver/12.0.1-oss, shs-libcxi/12.0.1-oss, cuda/12.9.1, GDRCopy/2.5]
          configure_args+:
            - --enable-cxi=$SHS_LIBCXI_HOME
            - --with-cxi-uapi-headers=$SHS_CXI_DRIVER_HOME
            - --with-cassini-headers=$SHS_CASSINI_HEADERS_HOME
            - --enable-lnx
            - --with-cuda=$CUDA_HOME
            - --with-gdrcopy=$GDRCOPY_HOME
            # Only enable dlopen when static is disabled
            - --enable-cuda-dlopen
            - --enable-gdrcopy-dlopen
            # - --enable-xpmem
    2.0.0:
      config:
        relstage: removed
        urls:
          - url: https://github.com/ofiwg/libfabric/releases/download/v${V}alpha/$P-${V}alpha.tar.bz2
      variants:
        - systems: [.*.merlin7.psi.ch]
          overlay: Alps
          use_overlays: [PSI]
          use_flags: [merlin7]
          build_requires: [gcc/12.3.0, libfabric/1.15.2.0, cuda/12.2.0]
          configure_args+:
            - --enable-cxi
            - --with-cuda=$CUDA_HOME
            - --enable-cuda-dlopen
    1.22.0:
      config:
        relstage: installed
      variants:
        - systems: [.*.merlin7.psi.ch]
          overlay: Alps
          suffix: '-oss'
          use_overlays: [PSI]
          use_flags: [merlin7]
          build_requires: [gcc/12.3.0, libfabric/1.22.0]
          configure_args+:
            - --enable-cxi
    1.18.0:
      config:
        build_requires: [gcc/10.4.0]
