---
# yamllint disable rule:line-length
format: 1
openmpi:
  defaults:
    group: Compiler
    overlay: base
    relstage: stable
    configure_args:
      - --enable-shared
      - --enable-static


    docfiles: [AUTHORS, LICENSE, NEWS, README]
    urls:
      - url: https://download.open-mpi.org/release/open-mpi/v${V_MAJOR}.${V_MINOR}/openmpi-${V_PKG}.tar.bz2
  shasums:
    openmpi-1.10.0.tar.bz2: 26b432ce8dcbad250a9787402f2c999ecb6c25695b00c9c6ee05a306c78b6490
    openmpi-1.10.4.tar.bz2: fb3c0c4c77896185013b6091b306d29ba592eb40d8395533da5c8bc300d922db
    openmpi-1.10.7.tar.bz2: a089ece151fec974905caa35b0a59039b227bdea4e7933069e94bee4ed0e5a90
    openmpi-1.4.3.tar.bz2: 220b72b1c7ee35469ff74b4cfdbec457158ac6894635143a33e9178aa3981015
    openmpi-1.4.5.tar.bz2: a3857bc69b7d5258cf7fc1ed1581d9ac69110f5c17976b949cb7ec789aae462d
    openmpi-1.6.5.tar.bz2: fe37bab89b5ef234e0ac82dc798282c2ab08900bf564a1ec27239d3f1ad1fc85
    openmpi-1.8.0.tar.bz2: 8ce8a0fb60d39469adba0adc4d0b94b3055ef6f800d536dbcb788f334b55db0d
    openmpi-1.8.1.tar.bz2: 171427ebc007943265f33265ec32e15e786763952e2bfa2eac95e3e192c1e18f
    openmpi-1.8.2.tar.bz2: ab70770faf1bac15ef44301fe2186b02f857646545492dd7331404e364a7d131
    openmpi-1.8.4.tar.bz2: 23158d916e92c80e2924016b746a93913ba7fae9fff51bf68d5c2a0ae39a2f8a
    openmpi-1.8.8.tar.bz2: a28382d1e6a36f4073412dc00836ff2524e42b674da9caf6ca7377baad790b94
    openmpi-2.0.0.tar.bz2: 08b64cf8e3e5f50a50b4e5655f2b83b54653787bd549b72607d9312be44c18e0
    openmpi-2.0.1.tar.bz2: fed74f4ae619b7ebcc18150bb5bdb65e273e14a8c094e78a3fea0df59b9ff8ff
    openmpi-2.1.0.tar.bz2: b169e15f5af81bf3572db764417670f508c0df37ce86ff50deb56bd3acb43957
    openmpi-2.1.1.tar.bz2: bd7badd4ff3afa448c0d7f3ca0ee6ce003b957e9954aa87d8e4435759b5e4d16
    openmpi-2.1.2.tar.bz2: 3cc5804984c5329bdf88effc44f2971ed244a29b256e0011b8deda02178dd635
    openmpi-2.1.5.tar.bz2: b807ccab801f27c3159a5edf29051cd3331d3792648919f9c4cee48e987e7794
    openmpi-2.1.6.tar.bz2: 98b8e1b8597bbec586a0da79fcd54a405388190247aa04d48e8c40944d4ca86e
    openmpi-3.0.0.tar.bz2: f699bff21db0125d8cccfe79518b77641cd83628725a1e1ed3e45633496a82d7
    openmpi-3.0.1.tar.bz2: 663450d1ee7838b03644507e8a76edfb1fba23e601e9e0b5b2a738e54acd785d
    openmpi-3.0.5.tar.bz2: f8976b95f305efc435aa70f906b82d50e335e34cffdbf5d78118a507b1c6efe8
    openmpi-3.1.1.tar.bz2: 3f11b648dd18a8b878d057e9777f2c43bf78297751ad77ae2cef6db0fe80c77c
    openmpi-3.1.2.tar.bz2: c654ed847f34a278c52a15c98add40402b4a90f0c540779f1ae6c489af8a76c5
    openmpi-3.1.3.tar.bz2: 8be04307c00f51401d3fb9d837321781ea7c79f2a5a4a2e5d4eaedc874087ab6
    openmpi-3.1.4.tar.bz2: 17a69e0054db530c7dc119f75bd07d079efa147cf94bf27e590905864fe379d6
    openmpi-3.1.5.tar.bz2: fbf0075b4579685eec8d56d34d4d9c963e6667825548554f5bf308610af72133
    openmpi-3.1.6.tar.bz2: 50131d982ec2a516564d74d5616383178361c2f08fdd7d1202b80bdf66a0d279
    openmpi-4.0.0.tar.bz2: 2f0b8a36cfeb7354b45dda3c5425ef8393c9b04115570b615213faaa3f97366b
    openmpi-4.0.1.tar.bz2: cce7b6d20522849301727f81282201d609553103ac0b09162cf28d102efb9709
    openmpi-4.0.2.tar.bz2: 900bf751be72eccf06de9d186f7b1c4b5c2fa9fa66458e53b77778dffdfe4057
    openmpi-4.0.3.tar.bz2: 1402feced8c3847b3ab8252165b90f7d1fa28c23b6b2ca4632b6e4971267fd03
    openmpi-4.0.4.tar.bz2: 47e24eb2223fe5d24438658958a313b6b7a55bb281563542e1afc9dec4a31ac4
    openmpi-4.0.5.tar.bz2: c58f3863b61d944231077f344fe6b4b8fbb83f3d1bc93ab74640bf3e5acac009
    openmpi-4.0.6.tar.bz2: 94b7b59ae9860f3bd7b5f378a698713e7b957070fdff2c43453b6cbf8edb410c
    openmpi-4.0.7.tar.bz2: 7d3ecc8389161eb721982c855f89c25dca289001577a01a439ae97ce872be997
    openmpi-4.1.0.tar.bz2: 73866fb77090819b6a8c85cb8539638d37d6877455825b74e289d647a39fd5b5
    openmpi-4.1.1rc2.tar.bz2: f7d572621c93934b329281ee159c89124905ef05900d1a817efb7d262442d0f3
    openmpi-4.1.1.tar.bz2: e24f7a778bd11a71ad0c14587a7f5b00e68a71aa5623e2157bafee3d44c07cda
    openmpi-4.1.3.tar.bz2: 3d81d04c54efb55d3871a465ffb098d8d72c1f48ff1cbaf2580eb058567c0a3b
    openmpi-4.1.4.tar.bz2: 92912e175fd1234368c8730c03f4996fe5942e7479bb1d10059405e7f2b3930d
    openmpi-4.1.5.tar.bz2: a640986bc257389dd379886fdae6264c8cfa56bc98b71ce3ae3dfbd8ce61dbe3
    openmpi-4.1.6.tar.bz2: f740994485516deb63b5311af122c265179f5328a0d857a567b85db00b11e415
    openmpi-5.0.5.tar.bz2: 6588d57c0a4bd299a24103f4e196051b29e8b55fbda49e11d5b3d32030a32776

  versions:
    5.0.5:
      variants:
        - systems: [.*.merlin7.psi.ch]
          relstage: unstable
          overlay: Alps
          use_overlays: [PSI]
          group_deps:
            compiler: {gcc: [12.3.0]}
          build_requires: [pmix/5.0.3, hwloc/2.11.1, patchelf/0.14.5]
          # build_requires: [pmix/5.0.3, ucx/1.15.0_slurm, hwloc/2.9.1, patchelf/0.14.5]
          runtime_deps: [cuda/12.2.0]
          configure_args+:
            - --with-ofi=/opt/cray/libfabric/1.15.2.0
            - --enable-mpi1-compatibility
            - --with-cxi
            - --with-lustre
            - --with-slingshot

    4.1.6:
      variants:
        - systems: [merlin-.*]
          suffix: _slurm
          relstage: unstable
          overlay: private
          use_overlays: [private]
          group_deps:
            compiler: {gcc: [9.5.0, 10.4.0, 11.4.0, 12.3.0, 12.4.0, 13.1.0]}
          build_requires: [pmix/4.2.4, ucx/1.14.1_slurm, libfabric/1.18.0, hwloc/2.9.1, patchelf/0.14.5]
          runtime_deps: [cuda/12.1.1]
          configure_args+:
            - CFLAGS=-g -O0
            - LDFLAGS=-g
            - --with-gpfs=/usr/lpp/mmfs
            - --with-pmi=/usr
        - systems: [ra-.*]
          suffix: _ra
          group_deps:
            compiler: {gcc: [9.5.0, 10.4.0, 11.4.0, 12.3.0, 13.1.0]}
          build_requires: [pmix/4.2.4, ucx/1.14.1_slurm, hwloc/2.9.1, patchelf/0.14.5]
          runtime_deps: [cuda/12.1.1]
        - systems: [.*.merlin7.psi.ch]
          overlay: Alps
          used_overlays: [PSI, Alps]
          group_deps:
            compiler: {gcc: [12.3.0]}
          build_requires: [pmix/5.0.3, ucx/1.14.1_slurm, hwloc/2.9.1, patchelf/0.14.5]
          runtime_deps: [cuda/12.1.1]

        - systems: [.*.merlin7.psi.ch]
          relstage: unstable
          overlay: Alps
          group_deps:
            compiler: {gcc: [12.3.0]}
          build_requires: [pmix/4.2.9, hwloc/2.11.1, patchelf/0.14.5]
          runtime_deps: [cuda/12.2.0]
          configure_args+:
            - --with-ofi=/opt/cray/libfabric/1.15.2.0
            - --enable-mpi1-compatibility
            - --with-lustre
          use_overlays: [PSI, Alps]
          use_flags: [merlin7]

    4.1.4:
      variants:
        - systems: [merlin-*, ra-*]
          relstage: unstable
          suffix: _slurm
          group_deps:
            compiler: {nvhpc: [24.3_cuda_12.3, 23.5_cuda_12.1]}
          build_requires: [pmix/4.2.4, ucx/1.14.1_slurm, libfabric/1.18.0, hwloc/2.9.1, patchelf/0.14.5]

    4.1.5:
      variants:
        - systems: [merlin-*, ra-*]
          suffix: _slurm
          group_deps:
            compiler: {gcc: [9.5.0, 10.4.0, 11.4.0, 12.3.0, 13.1.0]}
          build_requires: [pmix/4.2.4, ucx/1.14.1_slurm, libfabric/1.18.0, hwloc/2.9.1, patchelf/0.14.5]
          runtime_deps: [cuda/12.1.1]
        - systems: [merlin-*, ra-*]
          suffix: _slurm
          relstage: unstable
          group_deps:
            compiler: {intelcc: [22.2]}
          build_requires: [pmix/4.2.4, ucx/1.14.1_slurm, libfabric/1.18.0, hwloc/2.9.1, patchelf/0.14.5]
          runtime_deps: [cuda/12.1.1]

    4.1.4_slurm:
      config:
        relstage: stable
        group_deps:
          compiler: {gcc: [10.4.0]}
        runtime_deps: [cuda/11.5.1]
        build_requires: [ucx/1.12.1_slurm]

    4.1.3_slurm:
      config:
        relstage: stable
        group_deps:
          compiler: {gcc: [9.3.0, 10.3.0, 11.2.0]}
        runtime_deps: [cuda/11.5.1]
        build_requires: [ucx/1.12.1_slurm]

    4.1.1-1_slurm:
      config:
        relstage: unstable
        group_deps:
          compiler: {gcc: [10.2.0]}
        runtime_deps: [cuda/11.3.0]
        build_requires: [ucx/1.10.0_slurm]

    4.1.1_slurm:
      config:
        relstage: unstable
        group_deps:
          compiler: {gcc: [10.2.0]}
        runtime_deps: [cuda/11.3.0]
        build_requires: [ucx/1.11.2_slurm]

    4.1.0-1_dgx:
      config:
        relstage: deprecated
        group_deps:
          compiler: {gcc: [10.2.0]}
        runtime_deps: [cuda/11.2.2]
        build_requires: [ucx/1.10.0-1_dgx]

    4.0.7-1_slurm:
      config:
        relstage: stable
        group_deps:
          compiler: {gcc: [10.2.0]}
        runtime_deps: [cuda/11.4.3]
        build_requires: [ucx/1.11.2-1_slurm]

    4.0.7_slurm:
      config:
        relstage: stable
        group_deps:
          compiler: {gcc: [10.2.0]}
        runtime_deps: [cuda/11.5.1]
        build_requires: [ucx/1.11.2-2_slurm]

    4.0.5-2_slurm:
      config:
        relstage: stable
        group_deps:
          compiler: {gcc: [10.2.0]}
        runtime_deps: [cuda/11.3.0]
        build_requires: [ucx/1.11.0_slurm]

    4.0.5-1_slurm:
      config:
        relstage: stable
        group_deps:
          compiler: {gcc: [8.4.0, 9.3.0, 10.2.0, 10.3.0]}
        runtime_deps: [cuda/11.2.2]
        build_requires: [ucx/1.10.0-1_slurm]

    4.0.5-1_dgx:
      config:
        relstage: deprecated
        group_deps:
          compiler: {gcc: [8.4.0, 9.3.0, 10.2.0]}
        runtime_deps: [cuda/11.2.2]
        build_requires: [ucx/1.10.0-1_dgx]

    4.0.5_slurm:
      config:
        relstage: stable
      variants:
        - group_deps:
            compiler: {gcc: [gcc/9.2.0]}
          runtime_deps: [cuda/11.0.3]
        - group_deps:
            compiler: {gcc: [8.4.0, 9.3.0], intel: [20.4]}
          runtime_deps: [cuda/11.1.0]

    4.0.4_slurm_libpmix:
      config:
        relstage: deprecated
        group_deps:
          compiler: {gcc: [9.3.0]}

    4.0.4_slurm:
      config:
        relstage: deprecated
        group_deps:
          compiler: {gcc: [4.9.4, 5.5.0, 6.5.0, 7.5.0, 8.4.0, 9.3.0], intel: [15.2, 17.4, 18.4, 20.1]}

    4.0.3_slurm:
      config:
        relstage: deprecated
        group_deps:
          compiler: {gcc: [4.9.4, 5.5.0, 6.5.0, 7.5.0, 8.4.0, 9.3.0], intel: [15.2, 17.4, 18.4, 20.1]}

    3.1.6_slurm:
      config:
        relstage: deprecated
      variants:
        - group_deps:
            compiler: {gcc: [4.9.4, 5.5.0, 6.5.0], intel: [15.2, 17.4, 18.4, 20.1]}
        - group_deps:
            compiler: {gcc: [7.5.0, 8.4.0, 9.3.0]}
          relstage: stable
        - group_deps:
            compiler: {intel: [20.4]}
          runtime_deps: [cuda/11.1.0]

    3.1.4_merlin6:
      config:
        relstage: deprecated
        group_deps:
          compiler: {gcc: [7.4.0, 8.3.0]}

    3.1.5_merlin6;3.1.5-1_merlin6:
      config:
        relstage: deprecated
        group_deps:
          compiler: {gcc: [7.3.0, 7.4.0, 8.3.0, 9.2.0], intel: [15.2, 17.4, 18.4]}

    3.0.5_slurm:
      config:
        relstage: deprecated
        group_deps:
          compiler: {gcc: [4.9.4, 5.5.0, 6.5.0, 7.4.0, 8.3.0, 9.2.0], intel: [15.2, 17.4, 18.4]}

    2.1.6_slurm:
      config:
        relstage: deprecated
        group_deps:
          compiler: {gcc: [4.9.4, 5.5.0, 6.5.0, 7.4.0, 8.3.0, 9.2.0], intel: [15.2, 17.4, 18.4]}
