---
format: 1
relion:
  defaults:
    group: EM
    overlay: base
    relstage: unstable
    build_variants: first_match
  versions:
    5.0.1:
      variants:
        - overlay: Alps
          target_cpus: [x86_64]
          systems: [.*.merlin7.psi.ch]
          build_requires:
            - cmake/3.26.3
            - git/2.49.0
            - gcc/12.3.0
            - cuda/12.9.1
            - openmpi/5.0.8
          relstage: stable
          runtime_deps:
            - gcc/12.3.0
            - cuda/12.9.1
            - openmpi/5.0.8
            - IMOD/5.1.6
          configure_with: cmake
          configure_args:
            - "-DCMAKE_BUILD_TYPE=RELEASE"
            - "-DCMAKE_CXX_FLAGS=${CXXFLAGS} -DNDEBUG"
            - "-DCMAKE_C_FLAGS=${CFLAGS} -DNDEBUG"
            - "-DTORCH_HOME_PATH=${PREFIX}/torch"
            - "-DPYTHON_EXE_PATH=${PREFIX}/miniforge/envs/relion-5.0/bin/python"
            - "-DFORCE_OWN_FFTW=ON"
            - "-DFORCE_OWN_FLTK=ON"
            - "-DCUDA=ON"
            - "-DCUDA_ARCH=80"
            - "-DFETCH_WEIGHTS=OFF"
        - overlay: Alps
          target_cpus: [aarch64]
          systems: [gpu0.*.merlin7.psi.ch]
          relstage: unstable
          build_requires:
            - gcc/12.3.0
            - cuda/12.9.1
            - openmpi/5.0.8
          runtime_deps:
            - gcc/12.3.0
            - cuda/12.9.1
            - openmpi/5.0.8
          configure_with: cmake
          configure_args:
            - "-DCMAKE_BUILD_TYPE=RELEASE"
            - "-DCMAKE_CXX_FLAGS=${CXXFLAGS} -DNDEBUG"
            - "-DCMAKE_C_FLAGS=${CFLAGS} -DNDEBUG"
            - "-DTORCH_HOME_PATH=${PREFIX}/torch"
            - "-DPYTHON_EXE_PATH=${PREFIX}/miniforge/envs/relion-5.0/bin/python"
            - "-DFORCE_OWN_FFTW=OFF"
            - "-DFORCE_OWN_FLTK=ON"
            - "-DCUDA=ON"
            - "-DCUDA_ARCH=90"
            - "-DFETCH_WEIGHTS=OFF"
    5.0.0-perf:
      variants:
        - overlay: Alps
          target_cpus: [x86_64]
          systems: [.*.merlin7.psi.ch]
          build_requires:
            - cmake/3.23.2
            - git/2.37.0
            - gcc/12.3.0
            - cuda/12.2.0
            - openmpi/5.0.5
          relstage: stable
          runtime_deps:
            - gcc/12.3.0
            - cuda/12.2.0
            - openmpi/5.0.5
          configure_with: cmake
          configure_args:
            - "-DCMAKE_BUILD_TYPE=RELEASE"
            - "-DCMAKE_CXX_FLAGS=${CXXFLAGS} -DNDEBUG"
            - "-DCMAKE_C_FLAGS=${CFLAGS} -DNDEBUG"
            - "-DTORCH_HOME_PATH=${PREFIX}/torch"
            - "-DPYTHON_EXE_PATH=${PREFIX}/miniforge/envs/relion-5.0/bin/python"
            - "-DFORCE_OWN_FFTW=ON"
            - "-DFORCE_OWN_FLTK=ON"
            - "-DCUDA=ON"
            - "-DCUDA_ARCH=80"
            - "-DFETCH_WEIGHTS=OFF"
        - overlay: Alps
          target_cpus: [aarch64]
          systems: [gpu0.*.merlin7.psi.ch]
          relstage: unstable
          build_requires:
            - gcc/12.3.0
            - openmpi/5.0.8
          runtime_deps:
            - gcc/12.3.0
            - openmpi/5.0.8
          configure_with: cmake
          configure_args:
            - "-DCMAKE_BUILD_TYPE=RELEASE"
            - "-DCMAKE_CXX_FLAGS=${CXXFLAGS} -DNDEBUG"
            - "-DCMAKE_C_FLAGS=${CFLAGS} -DNDEBUG"
            - "-DTORCH_HOME_PATH=${PREFIX}/torch"
            - "-DPYTHON_EXE_PATH=${PREFIX}/miniforge/envs/relion-5.0/bin/python"
            - "-DFORCE_OWN_FFTW=OFF"
            - "-DFORCE_OWN_FLTK=ON"
            - "-DCUDA=ON"
            - "-DCUDA_ARCH=90"
            - "-DFETCH_WEIGHTS=OFF"
    5.0.0:
      variants:
        - overlay: Alps
          target_cpus: [x86_64]
          systems: [.*.merlin7.psi.ch]
          build_requires:
            - cmake/3.23.2
            - git/2.37.0
            - gcc/12.3.0
            - cuda/12.2.0
            - openmpi/5.0.5
          relstage: unstable
          runtime_deps:
            - gcc/12.3.0
            - cuda/12.2.0
            - openmpi/5.0.5
          configure_with: cmake
          configure_args:
            - "-DTORCH_HOME_PATH=${PREFIX}/torch"
            - "-DPYTHON_EXE_PATH=${PREFIX}/miniforge/envs/relion-5.0/bin/python"
            - "-DFORCE_OWN_FFTW=ON"
            - "-DFORCE_OWN_FLTK=ON"
            - "-DCUDA=ON"
            - "-DCUDA_ARCH=80"
            - "-DFETCH_WEIGHTS=OFF"
    4.0.2:
      variants:
        - overlay: Alps
          target_cpus: [x86_64]
          systems: [.*.merlin7.psi.ch]
          build_requires:
            - cmake/3.23.2
            - git/2.37.0
            - gcc/12.3.0
            - cuda/12.2.0
            - openmpi/5.0.5
          relstage: unstable
          runtime_deps:
            - gcc/12.3.0
            - cuda/12.2.0
            - openmpi/5.0.5
          configure_with: cmake
          configure_args:
            - "-DCMAKE_BUILD_TYPE=RELEASE"
            - "-DCMAKE_CXX_FLAGS=${CXXFLAGS} -DNDEBUG"
            - "-DCMAKE_C_FLAGS=${CFLAGS} -DNDEBUG"
            - "-DPYTHON_EXE_PATH=${PREFIX}/miniforge/bin/python"
            - "-DTORCH_HOME_PATH=${PREFIX}/torch"
            - "-DFORCE_OWN_FFTW=ON"
            - "-DFORCE_OWN_FLTK=ON"
            - "-DCUDA=ON"
            - "-DCUDA_ARCH=80"
            - "-DFETCH_WEIGHTS=OFF"
    #MERLIN7 old (cray)
    5.0-2beta:
      variants:
        - overlay: Alps
          systems: [gpu.*.merlin7.psi.ch]
          build_requires:
            - cmake/3.23.2
            - git/2.37.0
            - libfabric/1.22.0
          relstage: unstable
          runtime_deps:
            - gcc/12.3.0
            # - cudatoolkit/23.9_12.2
            - cuda/12.2.0
          configure_with: cmake
          configure_args:
            - "-DTORCH_HOME_PATH=${PREFIX}/torch"
            - "-DPYTHON_EXE_PATH=${PREFIX}/miniforge/envs/relion-5.0/bin/python"
            - "-DFORCE_OWN_FFTW=ON"
            - "-DFORCE_OWN_FLTK=ON"
            - "-DCUDA=ON"
            - "-DCUDA_ARCH=80"
            #- "-DCudaTexture=ON"
            - "-DFETCH_WEIGHTS=OFF"
    #MERLIN6
    5.0-1beta:
       variants:
         - systems: [merlin-.*.psi.ch]
           build_requires:
             - gcc/10.4.0
             - openmpi/4.1.4_slurm
             - cuda/11.5.1
             - cmake/3.23.2
             - git/2.37.0
           relstage: unstable
           runtime_deps:
             - cuda/11.5.1
             - gcc/10.4.0
             - openmpi/4.1.4_slurm
           configure_with: cmake
           configure_args:
             - "-DTORCH_HOME_PATH=${PREFIX}/torch"
             - "-DPYTHON_EXE_PATH=${PREFIX}/miniforge/envs/relion-5.0/bin/python"
             - "-DFORCE_OWN_FFTW=ON"
             - "-DFORCE_OWN_FLTK=ON"
             - "-DCUDA=ON"
             - "-DCUDA_ARCH=61"
             - "-DCudaTexture=ON"

